@import 'variables/typography';
@import 'variables/common';
@import 'variables/colors';
@import 'utils/typography';
@import 'utils/transition';
@import 'utils/icon';


button,
.button {
    $opacity: .5;
    $height: 8*$gap;

    @include transition(box-shadow, .5s);

    align-items: center;
    //background: $color__green;
    //border: none;
    //border-radius: $height/2;
    //color: $color__white;
    background: $color__white;
    border: 1px solid $color__gray;
    border-radius: $height/2;
    color: $color__blackish;
    cursor: pointer !important; // overwrite anchor element
    display: inline-flex;
    font-size: 1.4rem;
    font-weight: $font-weight--medium;
    height: $height;
    justify-content: center;
    max-width: 30rem;
    padding: 0 2rem;
    position: relative;
    user-select: none;
    --color-icon: $color__blackish;

    > * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__icon {
        display: none;
    }

    &:hover {
        background: $color__gray;
    }

    &:focus,
    &:active {
        box-shadow: 0 0 0 $gap rgba($color__gray, $opacity);
        outline: none;
    }

    &--icon {
        padding: 0 3.6rem;

        .button__icon {
            display: inline-flex;
            position: absolute;
    
            &:first-child {
                left: 1.2rem;
            }
    
            &:last-child {
                right: 1.2rem;
            }
        }
    }

    &--squeez {
        padding: 0 1rem;
    }

    &[type=submit],
    &--primary {
        background: $color__blue;
        border: none;
        color: $color__white;
        --color-icon: $color__white;

        &:hover {
            background: $color__blue--dark;
        }

        &:focus,
        &:active {
            box-shadow: 0 0 0 $gap rgba($color__blue, $opacity);
        }
    }

    &[type=reset],
    &--danger {
        background: $color__red;
        border: none;
        color: $color__white;
        --color-icon: $color__white;

        &:hover {
            background: $color__red--dark;
        }

        &:focus,
        &:active {
            box-shadow: 0 0 0 $gap rgba($color__red, $opacity);
        }
    }

    &--link {
        background: transparent;
        color: $color__blackish;
        border: none;

        &:focus,
        &:active {
            box-shadow: none;
        }

        &.button--primary {
            color: $color__blue;

            &:hover {
                background: $color__blue--light;
            }
        }

        &.button--danger {
            color: $color__red;

            &:hover {
                background: $color__red--light;
            }
        }
    }

    &--small {
        font-size: 1.2rem;
        height: 7*$gap;
        line-height: 7*$gap;
        padding-left: 4*$gap;
        padding-right: 4*$gap;
    }

    &--big {
        font-size: 1.8rem;
        height: 13*$gap;
        line-height: 13*$gap;
        padding-left: 8*$gap;
        padding-right: 8*$gap;
    }

    &[disabled],
    &--disabled {
        background: $color__gray;
        color: $color__gray--dark;
        cursor: not-allowed;

        &:focus,
        &:active {
            box-shadow: none;
        }
    }
}