@import 'variables/common';

.tile {
    align-items: stretch;
    display: flex;

    &__prepend,
    &__append,
    &__content {
        margin-right: 4*$gap;
    }

    &__content {
        &--vertical-center {
            align-items: center;
            display: inline-flex;
        }

        &--spread {
            width: 100%;
        }
    }

    &--compact {
        .tile__prepend,
        .tile__append,
        .tile__content {
            margin-right: 2*$gap;
        }
    }
}