@import 'variables/common';
@import 'variables/colors';
@import 'variables/z-index';
@import 'utils/transition';

/**
 * Tooltip
 *
 * @atom Tooltip
 * @section Tooltip
 * @markup
 *  <button class="button tooltip" data-tooltip="Tooltip on the top" type="button">Default</button>
 *  <button class="button tooltip tooltip--right" data-tooltip="Tooltip on the right" type="button">Right</button>
 *  <button class="button tooltip tooltip--bottom" data-tooltip="Tooltip on the bottom" type="button">Bottom</button>
 *  <button class="button tooltip tooltip--left" data-tooltip="Tooltip on the left" type="button">Left</button>
 * @modifiers
 *  .tooltip--right a tooltip on the right
 *  .tooltip--bottom a tooltip on the bottom
 *  .tooltip--left a tooltip on the left
 */
.tooltip {
    $bg: rgba($color__blackish, .7);
    $start-position: 85%;
    $arrow-size: $gap;
    $vertical: calc(100% + #{2*$gap});
    $horizontal: calc(100% + #{2*$gap});

    position: relative;

    &:before,
    &:after {
        position: absolute;
        left: 50%;
        opacity: 0;
        pointer-events: none;
        transform: translateX(-50%);
        z-index: $z-index--tooltip;
        bottom: $start-position;

        @include transition(opacity, top, right, bottom, left);
    }

    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
        }

        &:before {
            bottom: calc(#{$vertical} - #{$arrow-size});
        }

        &:after {
            bottom: $vertical;
        }
    }

    &:before {
        border-style: solid;
        // top right bottom left
        border-width: $arrow-size $arrow-size 0 $arrow-size;
        border-color: $bg transparent transparent transparent;
        content: '';
        display: block;
        bottom: calc(#{$start-position} - #{$arrow-size});
    }

    &:after {
        background: $bg;
        border-radius: 2*$gap;
        color: $color__white;
        content: attr(data-tooltip);
        font-size: 1.2rem;
        padding: 2*$gap 3*$gap;
        max-width: 320px;
        text-transform: none;
        white-space: pre;
    }

    &--bottom {
        &:before {
            bottom: auto;
            // top right bottom left
            border-width: 0 $arrow-size $arrow-size $arrow-size;
            border-color: transparent transparent $bg transparent;
            top: calc(#{$start-position} - #{$arrow-size});
        }

        &:after {
            bottom: auto;
            top: $start-position;
        }

        &:hover,
        &:focus {
            &:before,
            &:after {
                bottom: auto;
            }

            &:before {
                top: calc(#{$vertical} - #{$arrow-size});
            }
    
            &:after {
                top: $vertical;
            }
        }
    }

    &--right {
        &:before,
        &:after {
            bottom: auto;
            left: $start-position;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            bottom: auto;
            border-width: $arrow-size $arrow-size $arrow-size 0;
            border-color: transparent $bg transparent transparent;
            left: calc(#{$start-position} - #{$arrow-size});
        }

        &:hover,
        &:focus {
            &:before,
            &:after {
                bottom: auto;
            }

            &:before {
                left: calc(#{$horizontal} - #{$arrow-size});
            }

            &:after {
                left: $horizontal;
            }
        }
    }

    &--left {
        &:before,
        &:after {
            bottom: auto;
            left: auto;
            right: $start-position;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            border-width: $arrow-size 0 $arrow-size $arrow-size;
            border-color: transparent transparent transparent $bg;
            left: auto;
            right: calc(#{$start-position} - #{$arrow-size});
        }

        &:hover,
        &:focus {
            &:before,
            &:after {
                bottom: auto;
            }

            &:before {
                right: calc(#{$horizontal} - #{$arrow-size});
            }

            &:after {
                right: $horizontal;
            }
        }
    }
}