@import 'typography';
@import '../variables/colors';
@import '../variables/typography';
@import '../variables/navbar';

body {
    @include define-font($color__blackish--light, $font-size, 1.6, $font-weight--regular);

    background: $color__gray--light;
    display: flex;
    justify-content: center;

    --color-icon: $color__blackish;
    --icon-height: 24px;
    --icon-width: 24px;

    &.preload * {
        animation-duration: 0s !important;
    }
}