@import '../variables/common';
@import '../variables/swing';
@import 'internal/animations';

@keyframes swing-move {
    0% { left: 0; }
    100% { left: 100%; }
}

@keyframes swing-helper-move {
    0% { left: -$swing__width; }
    80% { left: -$swing__width; }
    100% { left: 0; }
}

@keyframes control-ripple {
    0% { @include __control-ripple-start(); }
    90% { @include __control-ripple-almost-done(); }
    100% { @include __control-ripple-done(); }
}

@keyframes control-scale {
    0% { transform: scale(0, 0); }
    50% { transform: scale(1.4, 1.4); }
    100% { transform: scale(1, 1); }
}

@mixin checkbox-ripple() {
    animation-name: control-ripple;
    @extend %__control-ripple;
}

@mixin radio-ripple() {
    animation-name: control-ripple;
    @extend %__control-ripple;
}