@import 'typography';
@import '../variables/colors';
@import '../variables/typography';
@import '../variables/navbar';

body {
    @include define-font($color__blackish, $font-size, 1.5, $font-weight--regular);

    background: $color__gray--light;
    display: flex;
    justify-content: center;
    //padding-top: $navbar__height;

    --color-icon: $color__white;
}