@import '../variables/common';
@import '../variables/colors';
@import '../variables/swing';
@import 'transition';

@mixin swing() {
    background: $color__gray--dark;
    border-radius: 0 0 $gap $gap;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $gap;
    overflow: hidden;

    @include transition(background);

    &:before,
    &:after {
        background: $color__gray;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: $swing__width;

        @include transition(background);
    }

    &:before {
        animation: swing-move $swing__timer infinite normal linear;
    }

    &:after {
        animation: swing-helper-move $swing__timer infinite normal linear;
    }
}