@import 'variables/colors';
@import 'variables/common';
@import 'utils/transition';

.input.dropdown {
    input {
        cursor: pointer !important;
    }

    & > .menu {
        z-index: -1;
        opacity: 0;
        transform: translateY(-2*$gap);

        @include transition(opacity .3s, transform .3s);
    }

    &:focus-within {
        & > .menu {
            z-index: auto;
            opacity: 1;
            transform: translateY(0);
        }
    }
}