.flex {
    display: flex;
    justify-content: space-between;
    
    &--top {
        align-items: flex-start;
    }

    &--middle {
        align-items: center;
    }

    &--bottom {
        align-items: flex-end;
    }

    &--right {
        margin-left: auto;
    }

    &--center {
        margin: 0 auto;
    }
}