@import 'utils/animations';
@import 'utils/swing';
@import 'utils/transition';
@import 'utils/typography';
@import 'variables/colors';
@import 'variables/grid';
@import 'variables/typography';

/**
 * Input field
 *
 * @atom Button
 * @section Input
 * @markup
 *  <label class="input">
 *   <div class="input__label">Label</div>
 *    <div class="input__envelope">
 *     <input class="input__control" type="text">
 *     <span class="input__icon jam jam-close"></span>
 *    </div>
 *   </div>
 *  </label>
 */
.input {
    display: block;
    margin-bottom: 5*$gap;
    position: relative;
    width: 100%;
    --color-icon: $color__gray--dark;

    &:after {
        content: '';
        clear: both;
    }

    &__label {
        @include define-font($color__blackish--light, 1.4rem, 1.5, $font-weight--medium);

        margin-bottom: $gap;

        @include transition(color);
    }

    &__envelope {
        align-items: center;
        background: $color__white;
        border: 1px solid $color__gray--dark;
        border-radius: $gap;
        font-size: 1.6rem;
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        @include transition(border-color, box-shadow .5s);

        .input__icon {
            $padding: 2*$gap;

            padding: 0 $padding;
            cursor: pointer;
            display: flex;
            align-items: center;

            &--top {
                align-self: flex-start;
                padding-top: $padding;
            }

            &--bottom {
                align-self: flex-end;
                padding-bottom: $padding;
            }
        }

        & > .input__addon:first-child {
            border-radius: $gap 0 0 $gap;
            border-right: 1px solid $color__gray--dark;
        }

        & > .input__addon:last-child {
            border-left: 1px solid $color__gray--dark;
            border-radius: 0 $gap $gap 0;
        }

        &:hover > {
            .input__addon {
                background: $color__blue--light;
            }

            .input__addon:first-child {
                border-right: 1px solid $color__blue;
            }
    
            .input__addon:last-child {
                border-left: 1px solid $color__blue;
            }
        }
    }

    &__addon {
        background: $color__gray--light;
        align-self: stretch;
        display: inline-flex;
        align-items: center;
        padding: 0 2*$gap;

        @include transition(border-color, background .5s);
    }

    &__action {
        font-size: 1.2rem;
        margin-top: 2px;
        float: right;
        padding-left: 2*$gap;

        &:after {
            content: '';
            clear: both;
        }
    }

    &__icon {
        display: flex;
        align-items: center;

        .icon {
            @include icon-gray-dark-to-blackish--revert();
        }
    }

    &__control {
        background: transparent;
        border: none;
        font-size: 1.4rem;
        padding: 3*$gap;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    &__messages {
        font-size: 1.2rem;
        line-height: 1.4;
        color: $color__blackish--light; //darken($color__gray, 20);
        margin-top: 2px;

        &:empty {
            margin-top: 0;
        }

        &:not(:empty) {
            margin-bottom: -5*$gap;
        }
    }

    &__message {
        display: flex;
        align-items: center;
        --color-icon: $color__blackish--light;

        .input__icon {
            margin-right: $gap;
            --icon-width: 16px;
            --icon-height: 16px;
        }

        &--success {
            color: $color__green;
            --color-icon: $color__green;
        }

        &--error {
            color: $color__red;
            --color-icon: $color__red;
        }
    }

    .input__swing {
        @include swing();
    }

    &--focus,
    &:focus,
    &:focus-within {
        .input__icon .icon {
            @include icon-gray-dark-to-blackish()
        }
        
        .input__label {
            color: $color__blue;
        }

        .input__envelope {
            border-color: $color__blue;
            box-shadow: 0 0 0 $gap $color__blue--light;
        }

        .input__swing {
            background: $color__blue;

            &:before,
            &:after {
                background: $color__blue--light;
            }
        }

        &.input--success {
            .input__envelope {
                border-color: $color__green;
            }

            .input__swing {
                background: $color__green;
    
                &:before,
                &:after {
                    background: $color__white;
                    opacity: .5;
                }
            }
        }
    }

    &:hover {
        .input__icon .icon {
            @include icon-gray-dark-to-blackish()
        }

        .input__envelope {
            border-color: $color__blue;
        }

        .input__swing {
            background: $color__blue;

            &:before,
            &:after {
                background: $color__white;
                opacity: .5;
            }
        }

        &.input--success {
            .input__envelope {
                border-color: $color__green;
            }

            .input__swing {
                background: $color__green;
    
                &:before,
                &:after {
                    background: $color__white;
                    opacity: .5;
                }
            }
        }
    }

    &--error {
        .input__label {
            color: $color__red;
        }

        .input__envelope {
            border-color: $color__red;
            box-shadow: 0 0 0 $gap $color__red--light;
        }
    }

    &--disabled {
        cursor: not-allowed;
        pointer-events: none;

        .input__envelope {
            background: $color__gray--light;
            border: 1px solid $color__gray;
            box-shadow: none;

            > input {
                color: $color__gray--dark;
            }
        }
    }

    &--required {
        .input__label:after {
            content: '*';
            color: $color__red;
            position: relative;
            left: $gap;
        }
    }

    &--readonly {
        transition: none;

        &:hover {
            .input__envelope {
                border-color: $color__gray--dark;
            }
        }

        &:focus-within {
            .input__label {
                color: $color__blackish--light;
            }
    
            .input__envelope {
                border-color: $color__gray--dark;
                box-shadow: none;
            }
        }
    }

    &--success {
        --color-icon: $color__white;
        
        .input__label {
            color: $color__green;
        }

        .input__envelope {
            background: $color__green--light;
            border-color: $color__green;
        }

        .input__swing {
            background: $color__green;

            &:before,
            &:after {
                background: $color__green--light;
            }
        }

        .input__messages {
            color: $color__gray--dark;
        }
    }
}