@import 'variables/colors';
@import 'variables/common';
@import 'variables/z-index';
@import 'utils/swing';
@import 'utils/shadows';
@import 'utils/transition';

.menu {
    background: $color__white;
    border: 1px solid $color__gray--dark;
    border-radius: $gap;
    cursor: default;
    display: block;
    left: 0;
    padding: $gap 0;
    min-width: 300px;
    position: relative;

    @include transition(border);
    @include shadow--medium();

    &__title {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 4*$gap 5*$gap $gap;
    }

    &__content {
        max-height: 350px;
        overflow: auto;
    }

    &__footer {
        font-size: 1.4rem;
        color: $color__gray--dark;
        padding: 0 5*$gap;
        min-height: 10*$gap;
        display: flex;
        align-items: center;
        padding-top: $gap;
        border-top: 1px solid $color__gray;
    }

    ul.menu__items {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            display: flex;

            .menu__item {
                color: $color__blackish--light;
                padding: 2*$gap 5*$gap;
                width: 100%;
                font-size: 1.4rem;

                &:hover {
                    text-decoration: none;
                    background: $color__gray--light;
                }
            }
        }
    }

    &--spread {
        width: 100%;
    }

    &--float {
        position: absolute;
    }

    &--hide {
        display: none;
    }

    &--center {
        left: 50%;
        transform: translateX(-50%);
    }

    &--right {
        left: auto;
        right: 0;
    }

    &--top {
        top: auto;
        bottom: 100%;
    }
}