@import 'variables/colors';
@import 'variables/navbar';

/**
 * Top navbar consisted from several atoms and molecules
 *
 * @structure Navbar
 * @markup
 *  <header class="navbar">
 *    
 *  </header>
 */
.navbar {
    align-items: center;
    background: $color__white;
    border: 1px solid $color__gray;
    display: flex;
    height: $navbar__height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}