@import 'variables/typography';
@import 'variables/common';
@import 'variables/colors';
@import 'utils/typography';

/**
 * @markup
 *  <h1>Header 1</h1>
 */
h1, .h1 {
    @include define-font($color__blackish, 2rem, 1.5, $font-weight--regular);
    font-family: $font-family--title;
    margin-bottom: 1rem;
}

/**
 * @atom Header 2
 * @section Headers
 * @markup
 *  <iframe src="/nucleus/typography/h2.html">
 *    <h2>Header 2</h2>
 *  </iframe>
 */
h2, .h2 {
    @include define-font($color__blackish, 1.6rem, 1.5, $font-weight--medium);
    margin-bottom: 0.8rem;
}

/**
 * @atom Header 3
 * @section Headers
 * @markup
 *  <iframe src="/nucleus/typography/h3.html">
 *    <h3>Header 1</h3>
 *  </iframe>
 */
h3, .h3 {
    @include define-font($color__blackish, $font-size, 1, $font-weight--medium);
    margin: 3*$gap 0 $gap;
    text-transform: uppercase;
}

/**
 * @atom Paregraph
 * @section Text
 * @markup
 *  <iframe src="/nucleus/typography/p.html">
 *    <p>...</p>
 *  </iframe>
 */
p {
    @include define-font($color__blackish--light, $font-size, 1.6, $font-weight--regular);

    margin-bottom: 3*$gap;
}

/**
 * @atom Anchor
 * @section Text
 * @markup
 *  <iframe src="/nucleus/typography/a.html">
 *    <a href="#">Google</a>
 *  </iframe>
 */
a {
    @include define-font($color__blackish, $font-size, 1.5, $font-weight--regular);

    color: $color__blackish;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        cursor: default;
    }

    &[href] {
        color: $color__blue;
        cursor: pointer;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.weak {
    color: $color__gray--dark;
}

code {
    background: $color__gray;
    border-radius: $gap;
    font-family: 'Ubuntu Mono', monospace;
    padding: $gap;
}

pre {
    margin-bottom: 20px;

    code {
        font-size: 1.4rem;
        padding: 3*$gap;
        width: 100%;
        display: block;
    }
}

blockquote, q {
    border-left: $gap solid $color__gray;
    quotes: none;
    margin-bottom: 5*$gap;
    padding: 3*$gap 0 3*$gap 4*$gap;

    p:last-child {
        margin-bottom: 0;
    }
}

strong {
    font-weight: 700;
}

ul {
    list-style-type: disc;
    padding-left: 4*$gap;

    li {
        margin-bottom: 2*$gap;

        ul {
            list-style-type: circle;
        }
    }
}

/**
 * @modifiers
 *  .text--left text on left
 *  .text--center center text
 *  .text--right text on right
 */
.text {
    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}