@import 'main.scss';

.skittles-components {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 0;
    height: 100%;

    &-aside {
        background: $color__gray--light; //$color__white;
        border-right: 1px solid $color__gray;
        display: flex;
        flex-direction: column;
        grid-column: 1;
        justify-content: space-between;
    }

    &-body {
        background: $color__white;
        grid-column: 2;
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }

    &-logo {
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon-1,
        &-icon-2,
        &-icon-3 {
            height: 32px;
            width: 32px;
            margin-right: 12px;
        }

        &-icon-1 {
            animation: skittles-components-logo-icon-1 30s infinite linear;
        }
    
        &-icon-2 {
            animation: skittles-components-logo-icon-2 30s infinite linear;
        }
    
        &-icon-3 {
            animation: skittles-components-logo-icon-3 30s infinite linear;
        }
    }

    &-name {
        text-align: center;

        a {
            color: $color__gray--dark;
        }    }

    &-search {
        padding: 10px 20px;
    }

    &-navigation {
        ul ul {
            border-bottom: 1px solid $color__gray;
            padding-left: 24px;
            background: $color__gray--light;
            display: none;
        }

        a {
            color: $color__blackish--light;
            border-bottom: 1px solid $color__gray;
            display: block;
            font-size: 1.6rem;
            padding: 12px 24px;

            &:hover {
                color: $color__blackish;
                text-decoration: none;
            }
        }

        ul ul a {
            border-bottom: none;
        }

        &__topic {
            display: flex !important;
            justify-content: space-between;
        }

        &__icon {
            display: flex;
            transform: rotate(0);
            @include transition(transform);

            --color-icon: $color__blackish--light;
        }

        &:hover {
            &__icon {
                --color-icon: $color__blackish;
            }
        }
    }

    &-settings {
        display: flex;
        justify-content: center;

        --color-icon: $color__gray--dark;

        &__link {
            cursor: pointer !important;

            .icon {
                height: 32px;
                width: 32px;
            }
        }
    }

    &-article {
        padding-top: 14rem;
        min-width: 700px;
        max-width: 980px;

        h1 {
            font-size: 3.6rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.6rem;
        }
    }

    &-color {
        $border-radius: 8px;

        @mixin color-shapes($name, $base, $light, $dark) {
            &--#{$name} {
                background: $base;
    
                .skittles-components-color__light {
                    background: $light;
                }
    
                .skittles-components-color__dark {
                    background: $dark;
                }
            }
        }

        align-items: center;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        height: 180px;
        justify-content: space-between;
        margin-bottom: 32px;

        > * {
            width: 100%;
        }

        .skittles-components-color__light {
            border-radius: $border-radius $border-radius 0 0;
        }

        .skittles-components-color__dark {
            border-radius: 0 0 $border-radius $border-radius;
        }

        @include color-shapes('green', $color__green, $color__green--light, $color__green--dark);
        @include color-shapes('blue', $color__blue, $color__blue--light, $color__blue--dark);
        @include color-shapes('red', $color__red, $color__red--light, $color__red--dark);
        @include color-shapes('purple', $color__purple, $color__purple--light, $color__purple--dark);
        @include color-shapes('yellow', $color__yellow, $color__yellow--light, $color__yellow--dark);
    }

    &-color-definition {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        height: 60px;
        text-align: center;
        width: 100%;

        > span {
            margin-top: 8px;
        }

        > code {
            background: transparent;
            color: $color__blackish--light;
            font-size: 1.2rem;
            font-family: 'Ubuntu Mono', monospace;
            padding: 0;
        }
    }
}

#philosophy:target,
#components:target{
    .skittles-components-navigation__icon {
        transform: rotate(180deg);
    }

    ul {
        display: block;
    }
}

@keyframes skittles-components-logo-icon-1 {
    0% { fill: $color__green; }
    50% { fill: $color__yellow; }
    100% { fill: $color__green; }
}

@keyframes skittles-components-logo-icon-2 {
    0% { fill: $color__yellow; }
    50% { fill: $color__red; }
    100% { fill: $color__yellow; }
}

@keyframes skittles-components-logo-icon-3 {
    0% { fill: $color__red; }
    50% { fill: $color__blue; }
    100% { fill: $color__red; }
}