@import 'main.scss';

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

.skittles-components {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 0;
    height: 100%;

    &-aside {
        background: $color__gray--light; //$color__white;
        border-right: 1px solid $color__gray;
        display: flex;
        flex-direction: column;
        grid-column: 1;
        justify-content: space-between;
    }

    &-body {
        background: $color__white;
        grid-column: 2;
        display: flex;
        justify-content: center;
        padding: 0 20px;
    }

    &-logo {
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon-1,
        &-icon-2,
        &-icon-3 {
            height: 32px;
            width: 32px;
            margin-right: 12px;
        }

        &-icon-1 {
            animation: skittles-components-logo-icon-1 30s infinite linear;
        }
    
        &-icon-2 {
            animation: skittles-components-logo-icon-2 30s infinite linear;
        }
    
        &-icon-3 {
            animation: skittles-components-logo-icon-3 30s infinite linear;
        }
    }

    &-name {
        text-align: center;

        a {
            color: $color__gray--dark;
        }    }

    &-search {
        padding: 10px 20px;
    }

    &-navigation {
        ul {
            list-style-type: none;
            padding-left: 0;
        }

        ul ul {
            display: none;
            padding-left: 24px;
            background: $color__gray--light;
        }

        a {
            color: $color__blackish--light;
            display: block;
            font-size: 1.6rem;
            padding: 16px 24px;

            &:hover {
                color: $color__blackish;
                text-decoration: none;
            }
        }

        ul ul a {
            border-bottom: none;
        }

        &__topic {
            display: flex !important;
            justify-content: space-between;
        }

        &__icon {
            display: flex;
            transform: rotate(0);
            @include transition(transform);

            --color-icon: $color__blackish--light;
        }

        &:hover {
            &__icon {
                --color-icon: $color__blackish;
            }
        }
    }

    &-settings {
        display: flex;
        justify-content: center;

        --color-icon: $color__gray--dark;

        &__link {
            cursor: pointer !important;

            .icon {
                height: 32px;
                width: 32px;
            }
        }
    }

    &-article {
        padding-top: 4rem;
        width: 100%;
        max-width: 980px;

        h1 {
            font-size: 3.6rem;
            margin-bottom: 2rem;
        }

        h2 {
            color: #474850;
            font-size: 2.4rem;
            margin-bottom: 1.2rem;
        }

        p, a {
            font-size: 100%;
        }

        p {
            margin-bottom: 5*$gap;
        }
    }

    .goal-icon {
        --icon-height: 40px;
        --icon-width: 40px;

        align-items: center;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        height: 17*$gap;
        margin: 6*$gap;
        width: 17*$gap;

        &--blue {
            --color-icon: $color__blue;
            background: $color__blue--light;
        }

        &--green {
            --color-icon: $color__green;
            background: $color__green--light;
        }

        &--purple {
            --color-icon: $color__purple;
            background: $color__purple--light;
        }
    }

    &-palette {
        $border-radius: 8px;

        border-radius: $border-radius;
        display: flex;
        height: 200px;
        flex-direction: column;
        margin-bottom: 32px;
        text-align: center;

        &__main,
        &__minor {
            display: flex;
            flex-direction: inherit;
            justify-content: center;
        }

        &__main {
            flex-grow: 2;
        }

        &__minor {
            flex-grow: 1;
        }

        &__name {
            font-size: 2rem;
            text-transform: lowercase;
        }

        &__hex {
            font-size: 1.4rem;
            text-transform: uppercase;
        }

        & > *:last-child {
            border-radius: 0 0 $border-radius $border-radius;
        }

        @mixin color-shapes($name, $base, $light, $dark) {
            &--#{$name} {
                background: $base;
                color: $light;
    
                .skittles-components-palette--light {
                    background: $light;
                    color: $dark;
                }
    
                .skittles-components-palette--dark {
                    background: $dark;
                    color: $light;
                }
            }
        }

        @include color-shapes('green', $color__green, $color__green--light, $color__green--dark);
        @include color-shapes('blue', $color__blue, $color__blue--light, $color__blue--dark);
        @include color-shapes('red', $color__red, $color__red--light, $color__red--dark);
        @include color-shapes('purple', $color__purple, $color__purple--light, $color__purple--dark);
        @include color-shapes('yellow', $color__yellow, $color__yellow--light, $color__yellow--dark);
        @include color-shapes('blackish', $color__blackish, $color__blackish--light, $color__blackish--dark);
        @include color-shapes('gray', $color__gray, $color__gray--light, $color__gray--dark);
    }

    &-sample {
        border: 1px solid $color__gray;
        border-radius: $gap;
        margin-bottom: 5*$gap;
        padding: 5*$gap;
        position: relative;

        &:before {
            color: $color__gray--dark;
            content: 'sample';
            position: absolute;
            top: $gap;
            right: 2*$gap;
        }
    }
}

#philosophy:target,
#components:target{
    .skittles-components-navigation__icon {
        transform: rotate(180deg);
    }

    ul {
        display: block;
    }
}

@keyframes skittles-components-logo-icon-1 {
    0% { fill: $color__green; }
    50% { fill: $color__yellow; }
    100% { fill: $color__green; }
}

@keyframes skittles-components-logo-icon-2 {
    0% { fill: $color__yellow; }
    50% { fill: $color__red; }
    100% { fill: $color__yellow; }
}

@keyframes skittles-components-logo-icon-3 {
    0% { fill: $color__red; }
    50% { fill: $color__blue; }
    100% { fill: $color__red; }
}