$color__white: #ffffff;

$color__gray: #ebebeb;
$color__gray--light: #fcfcfc;
//$color__gray--light: #f3f3f3;
$color__gray--dark: #D6D6D6;

$color__blackish: #02040F;
$color__blackish--light: #474850;
$color__blackish--dark: #000000;

$color__green: #6BA80C;
$color__green--light: #F1F7E8; //#7AC70C;
$color__green--dark: #62990B;

$color__blue: #00AAFF;
$color__blue--light: #E7F5FC;
$color__blue--dark: #009BE8;

$color__red: #F07178;
$color__red--light: #FDF2F2;
$color__red--dark: #DB676E;

$color__purple: #C964B0;
$color__purple--light: #FAF0F7;
$color__purple--dark: #B75BA0;

$color__yellow: #FFD580;
$color__yellow--light: #FFFBF3;
$color__yellow--dark: #E8C275;