<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - skittles</title>

    <link rel="stylesheet" href="~/atom-one-dark.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/components.css" />
</head>
<body>
    <h1>Hello.</h1>

    @RenderBody()

    <script src="~/highlight.pack.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
